@using Blog.Domain.Common.Extensions
@using Blog.Domain.ViewModels.Blog

<div class="post-box">
    <a href="post/@Blog.BlogId">
        <figure>
            <img src="img/@Blog.ImageFile" alt="@Blog.BlogTitle">
            <figcaption class="meta-fig">
                <span><i class="fa fa-clock-o"></i> @Blog.PostedAt.ToPersianDate()</span>&nbsp;
                <span><i class="fa fa-comment-o"></i> @Blog.CommentsCount.Split()</span>
            </figcaption>
            <figcaption class="view">
                @foreach (string tag in Blog.Tags)
                {
                    <span>@tag</span>
                }
            </figcaption>
        </figure>
        <div class="text-p">
            <h5>@Blog.BlogTitle</h5>
            <p>
                @Blog.Summary
            </p>
            <div class="text-start">
                <a href="post/@Blog.BlogId">ادامه ...</a>
            </div>
        </div>
    </a>
</div>

@code {

    [Parameter]
    public BlogForShowViewModel Blog { get; set; } = BlogForShowViewModel.None;
}
